<div class="container">
    <div><p class="alert">{{fpmessage}}</p></div>
   <form action="" method="POST">
        <input type="number" name="code" class="form-control" placeholder="Enter Passcode that you receive in email" required="1"><br>
        <input type="password" name="password" class="form-control" placeholder="Enter Password" required="1"><br>
        <input type="password" name="cpassword" class="form-control" placeholder="Enter Confirm Password" required="1"><br>
        <input type="submit" class="btn btn-primary" value="Submit">
   </form>
</div>