<!-- Navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bhavisya Pariwar</a>
          <a class="dropdown-item" href="#">demo 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">demo 2</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="#">Chapters</a>
          <a class="dropdown-item" href="#">Photo Gallery</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="jobs.html">Jobs/Internships</a>
      </li>
     
      <li class="nav-item active">
       <a class="nav-link" href="signin">Sign In</a>
      </li>
      
     </ul>
    </div>
   </nav>
  
<!---initiative--->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="header">
            <h2>Initiatives</h2>
            </div>
            <div class="campaign-container">
            <div class="row">
                <div class="campaign-img col-6">
                    <img src="./images/childrenSmile.jpg" alt="image">
                </div>
                <div class="campaign-info col-sm-6">
                    <div class="campaign-title">
                        <h3>Donate to Bhavisya Pariwar</h3>
                    </div>
                    <div class="campaign-detail">
                        <p>Education is the most important thing to make a better society.People who work as a daily wager
                        can't be able to afford expenses of education for their children and also education facility of rural areas are not too good.
                        And being an Engineer our responsibility is to help those children.So please donate to this campaign.A small donation will make a big 
                        difference.
                        </p>
                    </div>
                    <div  style="margin-right: 10px;">
                        
                        <label for="pay">Amount</label>
                        <input type="number" class="form-control" name="amount" id="" placeholder="Enter amount here..." >
                        <br>
                        <a href="" class="btn btn-success">{{data}}</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
