<!-- Navbar code -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
  <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="http://localhost:3000/news_post">Post</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/jobintern">Jobs/Internships</a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/signin">Sign Out</a>
      </li>

    </ul>
  </div>
</nav>
 <!-- Body Part -->
 <div class="pageHeading">
      <h1>Photo Gallery</h1>
      <form action="#" method="POST" enctype="multipart/form-data">
        <div class="pg-uploadPhotos">
          <input type="file" name="propic" accept="image/*" required multiple>
          <button id="save-btn" type="submit" class="btn btn-info btn-lg">Upload Photos</button>
        </div>
      </form>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-4 pg-imgContainer">
            <a href="./images/CSE 2018.jpeg">
                <img src="./images/CSE 2018.jpeg" alt="CSE 2018" class="pg-image">
            </a>
          </div>
          <div class="col-4 pg-imgContainer">
            <a href="./images/CE 2018.jpeg">
                <img src="./images/CE 2018.jpeg" alt="CE 2018" class="pg-image">
            </a>
          </div>
          <div class="col-4 pg-imgContainer">
            <a href="./images/ME 2018.jfif">
                <img src="./images/ME 2018.jfif" alt="ME 2018" class="pg-image">
            </a>
          </div>

          <div class="col-4 pg-imgContainer">
            <a href="./images/ECE 2018 batch.jpeg">
                <img src="./images/ECE 2018 batch.jpeg" alt="ECE 2018" class="pg-image">
            </a>
          </div>
          <div class="col-4 pg-imgContainer">
            <a href="./images/EE 2018.jfif">
                <img src="./images/EE 2018.jfif" alt="EE 2018" class="pg-image">
            </a>
          </div>
          <div class="col-4 pg-imgContainer">
            <a href="./images/CSE 2019.jfif">
                <img src="./images/CSE 2019.jfif" alt="CSE 2019" class="pg-image">
            </a>
          </div>
      </div>
  </div>