  <!-- Navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand" href="#" style="font-weight: 600; padding-left: 20px;"><i class="fa fa-university fa-2x"
      style="padding-right: 10px;"></i>DEC Alumni Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/about">About</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Initiatives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/initiative">Bhavisya Pariwar</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Directory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/alumnisearch">Alumni Search</a>
          <a class="dropdown-item" href="http://localhost:3000/news_post">Post</a>
        </div>
      </li>
     
      <li class="nav-item active">
       <a class="nav-link" href="http://localhost:3000/signin">{{signin}}</a>
      </li>
      
     </ul>
    </div>
   </nav>
  <!-- Body Part -->
  <div class="container">
    <div class="row">
      <!-- Left pannel  -->
      <div class="col-6">
      <div class="left-panel">
        <div class="display-2 heading">
          Welcome To The DEC Alumni Association
        </div>
        <div class="pattern">

        </div>
      </div>
    </div>
    <!-- Right panel with signup code -->
      <div class="col-6">
        <div class="signup-form">
          <div class="h1">Sign Up</div>
          <div><p class="alert">{{message}}</p></div>
          <div class="h6">Type Here Your Details to get connected with DEC Alumni Association</div>
          <form action="#" method="POST">
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="name" id="name" placeholder="Your Name" required>
            </div>
            <div class="input-field" >
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="psw" placeholder="Password" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="cpsw" placeholder="Confirm Password" required />
            </div>
            <div id="date-of-birth">
              <div style="display: inline-flex;">Date Of Birth:</div>
              <input type="date" name="dob" value="dd/mm/yyyy" required/>
            </div>
            <div class="gender" style="display: inline-flex;">
              <div style="font-weight: 600;">Gender:</div>
              <input type="radio" name="gender" id="male" name="gender" value="Male" required>
              <label for="male">Male</label>
              <input type="radio" id="female" name="gender" value="Female" required>
              <label for="female">Female</label>
              <input type="radio" id="other" name="gender" value="Other" required>
              <label for="other">Other</label>
            </div>
            <div class="class-year">
              <div style="font-weight: 600;">Class Year:</div>
              <select name="clsyr" id="class-year" required>
                <option value="" ></option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2014">2018</option>
                <option value="2015">2019</option>
                <option value="2016">2020</option>
                <option value="2017">2021</option>
              </select>
            </div>
            <div class="class-year">
              <div style="font-weight: 600;">Branch:</div>
              <select name="branch" name="clsyr" id="class-year" placeholder="Select Branch" required>
                <option value="" ></option>
                <option value="001">Civil Engineering</option>
                <option value="002">Computer Science and Engineering</option>
                <option value="003">Electrical Engineering</option>
                <option value="004">Electronics and Communication Engineering</option>
                <option value="005">Mechanical Engineering</option>
              </select>
            </div>
              <button id="register-btn" class="btn btn-info btn-lg" type="submit">Register</button>
          </form>
          <div id="form-footer" class="h5">Already a Member? &nbsp;<a href="signin">Sign In</a></div>
        </div>
      </div>

      
    </div>
  </div>