.page-title > h1{
    color: #b50202;
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.about-content{
    font-size: 1.3rem;
    text-align: justify;
}

.about-content > ul> li{
    margin: 20px 0px 20px 0px;
}