.profile_img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-style: groove;
    border-radius: 200px;
    box-shadow: black;
    text-align: center;
    margin-top: -100px;
    
}
.title{
    margin-left: 150px;
    text-align:left;
}
.coverpic{
    border-radius: 10px;
    border-style: groove;

}